<h1>Editing Supplier Registration</h1>

<%= render 'form', supplier_registration: @supplier_registration %>

<%= link_to 'Show', @supplier_registration %> |
<%= link_to 'Back', supplier_registrations_path %>
