<h1>Editing Enquiry Details Page</h1>

<%= render 'form', enquiry_details_page: @enquiry_details_page %>

<%= link_to 'Show', @enquiry_details_page %> |
<%= link_to 'Back', enquiry_details_pages_path %>
