<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>Enquiry number:</strong>
  <%= @order.enquiry_number %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Enquiry for:</strong>
  <%= @order.enquiry_for %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order.color %>
</p>

<p>
  <strong>Material:</strong>
  <%= @order.material %>
</p>

<p>
  <strong>Gsm:</strong>
  <%= @order.gsm %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @order.sizes %>
</p>

<p>
  <strong>Printing:</strong>
  <%= @order.printing %>
</p>

<p>
  <strong>Embroidery:</strong>
  <%= @order.embroidery %>
</p>

<p>
  <strong>Place of printing:</strong>
  <%= @order.place_of_printing %>
</p>

<p>
  <strong>Payment terms:</strong>
  <%= @order.payment_terms %>
</p>

<p>
  <strong>Client target price:</strong>
  <%= @order.client_target_price %>
</p>

<p>
  <strong>Client target delivery schedule:</strong>
  <%= @order.client_target_delivery_schedule %>
</p>

<p>
  <strong>Offered price:</strong>
  <%= @order.offered_price %>
</p>

<p>
  <strong>Offered delivery schedule:</strong>
  <%= @order.offered_delivery_schedule %>
</p>

<p>
  <strong>Owner of the etask:</strong>
  <%= @order.owner_of_the_etask %>
</p>

<p>
  <strong>Status of the enquiry:</strong>
  <%= @order.status_of_the_enquiry %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @order.supplier_name %>
</p>

<p>
  <strong>Sample readiness:</strong>
  <%= @order.sample_readiness %>
</p>

<p>
  <strong>Sample delivery:</strong>
  <%= @order.sample_delivery %>
</p>

<p>
  <strong>Advance received:</strong>
  <%= @order.advance_received %>
</p>

<p>
  <strong>Status of the order:</strong>
  <%= @order.status_of_the_order %>
</p>

<p>
  <strong>Owner of the otask:</strong>
  <%= @order.owner_of_the_otask %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
