<p id="notice"><%= notice %></p>

<h1>Customisations</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Place of printing</th>
      <th>Place of embroidery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customisations.each do |customisation| %>
      <tr>
        <td><%= customisation.type %></td>
        <td><%= customisation.place_of_printing %></td>
        <td><%= customisation.place_of_embroidery %></td>
        <td><%= link_to 'Show', customisation %></td>
        <td><%= link_to 'Edit', edit_customisation_path(customisation) %></td>
        <td><%= link_to 'Destroy', customisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customisation', new_customisation_path %>
