<%= form_with(model: operations_team, local: true) do |form| %>
  <% if operations_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operations_team.errors.count, "error") %> prohibited this operations_team from being saved:</h2>

      <ul>
      <% operations_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile_number %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="field">
    <%= form.label :login_id %>
    <%= form.text_field :login_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
