<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operations_team.name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @operations_team.mobile_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @operations_team.email_id %>
</p>

<p>
  <strong>Login:</strong>
  <%= @operations_team.login_id %>
</p>

<%= link_to 'Edit', edit_operations_team_path(@operations_team) %> |
<%= link_to 'Back', operations_teams_path %>
