<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @enquiry.client_name %>
</p>

<p>
  <strong>Enquiry for:</strong>
  <%= @enquiry.enquiry_for %>
</p>

<p>
  <strong>Color:</strong>
  <%= @enquiry.color %>
</p>

<p>
  <strong>Material:</strong>
  <%= @enquiry.material %>
</p>

<p>
  <strong>Gsm:</strong>
  <%= @enquiry.gsm %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @enquiry.quantity %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @enquiry.sizes %>
</p>

<p>
  <strong>Printing:</strong>
  <%= @enquiry.printing %>
</p>

<p>
  <strong>Embroidery:</strong>
  <%= @enquiry.embroidery %>
</p>

<p>
  <strong>Place of printing:</strong>
  <%= @enquiry.place_of_printing %>
</p>

<p>
  <strong>Payment terms:</strong>
  <%= @enquiry.payment_terms %>
</p>

<p>
  <strong>Client target price:</strong>
  <%= @enquiry.client_target_price %>
</p>

<p>
  <strong>Client target delivery schedule:</strong>
  <%= @enquiry.client_target_delivery_schedule %>
</p>

<p>
  <strong>Offered price:</strong>
  <%= @enquiry.offered_price %>
</p>

<p>
  <strong>Offered delivery schedule:</strong>
  <%= @enquiry.offered_delivery_schedule %>
</p>

<p>
  <strong>Owner of the etask:</strong>
  <%= @enquiry.owner_of_the_etask %>
</p>

<p>
  <strong>Status of the enquiry:</strong>
  <%= @enquiry.status_of_the_enquiry %>
</p>

<%= link_to 'Edit', edit_enquiry_path(@enquiry)  if policy(@enquiry).edit? %>

<% if policy(@enquiry).destroy? %>
    <%= link_to "Delete", @enquiry, method: :delete, class: 'btn btn-danger' %>
<% end %>
<%= link_to 'Back', enquiries_path %>